body{
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100vh;
}

.card-container {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}